# python>=3.12
# pip install -r requirements.txt
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

pip ==  23.3.1
numpy ==  1.26.0
PyYAML ==  6.0.1
argparse ==  1.4.0
#scipy ==   1.12.0
torch-geometric ==    2.5.1
networkx ==   3.2.1